.container {
    width: 100%;
    height: 80px;
    background: #62D0DF;
    display: flex;
    align-items: center;
}

.text {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    margin-left: 179px;
}